<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="E-commerce Website for buying a products">
    <meta name="author" content="Nilesh_Rathod">
    <link rel="icon" href="../img/HeadIcons.png" type="image/jpg">
    <!-- -----------------Style Links--------------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- ===============FontAwesome CDN============ -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- ================Poppins Fonts============= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>WishBin</title>
</head>

<body>

    <div class="container-fluid px-0">
        <div id="forgetPassword">
            <div class="heading">
                <div class="logo">
                    <a href="/">WB</a>
                </div>
            </div>
            <!-- Heading End -->
            <div id="forgetPasswordContainer" class="container-fluid px-0">
                <div class="row justify-content-between">
                    <div class="col-xl-6 d-xl-block d-none leftSide">
                        <div class="images">
                            <img src="../img/forgotPasswordImg.svg" alt="forgotPasswordImg">
                        </div>
                    </div>
                    <div class="col-xl-5 mx-xl-0 mx-auto rightSide">
                        <div class="heading">
                            <h2>Forgot Password? 🔒</h2>
                            <p class="title">Enter your email and we'll send you instructions to reset your password</p>
                        </div>
                        <div class="forms">
                            <form action="/forgetpassword" method="post">
                                <div id="emailID"
                                    class="feild <%= messages.emptyemail || messages.emailthere ? 'error' : '' %>">
                                    <label for="forgetemail">Email</label>
                                    <input onkeyup="removeError(this)" type="email" name="forgetemail"
                                        value="<%= messages.email ? messages.email : '' %>"
                                        placeholder="email@gmail.com" autocomplete="off">
                                    <% if(messages.emptyemail) { %>
                                        <span>
                                            <%= messages.emptyemail %>
                                        </span>
                                        <% } %>
                                            <% if(messages.emailthere) { %>
                                                <span>
                                                    <%= messages.emailthere %>
                                                </span>
                                                <% } %>
                                </div>

                                <div class="buttons">
                                    <div class="button">
                                        <button type="submit">
                                            Send reset link
                                            <div class="loadingEffects"></div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <% if(messages.successfull){ %>
                            <div class="successfullMsg">
                                <span>
                                    <%= messages.successfull %>
                                </span>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==========Container End======== -->

    <div id="preloader">
        <div class="loading_container">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <!-- ===========================Script JS======================= -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        let buttons = document.querySelector("form .buttons button"),
            form = document.querySelector("form"),
            loadingEffects = document.querySelector("form .buttons button .loadingEffects");


        buttons.addEventListener("click", () => {
            loadingEffects.style.display = "block"
        })

        form.addEventListener("submit", () => {
            buttons.style.background = "rgba(0,0,0,0.8)"
            buttons.disabled = true;
        })

        function removeError(input) {
            let emailIDField = document.querySelector("#emailID span");
            let successfullMsg = document.querySelector("#forgetPasswordContainer .rightSide .successfullMsg")

            if (emailIDField) {
                emailIDField.style.display = "none";
                input.style.borderColor = "#000";
            }

            if (successfullMsg) {
                successfullMsg.style.display = "none";
                input.style.borderColor = "#000";
            }
        }
    </script>
</body>

</html>