<div id="Container">
    <%- include('./common/navbar'); %>

        <!-- ==================Top-header-End================= -->
        <header id="header">
            <div id="HeaderSwiper" class="swiper">
                <div id="tabs" class="swiper-wrapper">
                    <a class="swiper-slide btn active" href="/">
                        <div>
                            <i class="fas fa-home"></i> All product
                        </div>
                    </a>
                    <a class="btn swiper-slide" href="./electronicproduct">
                        <i class="fas fa-desktop"></i>
                        Electronics
                    </a>
                    <a href="/toysproducts" class="btn swiper-slide">
                        <i class="fab fa-evernote"></i>
                        Toys
                    </a>
                    <a href="./clothproducts" class="btn swiper-slide">
                        <i class="fas fa-tshirt"></i> Cloths
                    </a>

                    <a href="./babyclothproducts" class="btn swiper-slide">
                        <i class="fas fa-baby"></i> Baby Cloths
                    </a>
                    <a href="./mobileproducts" class="btn swiper-slide">
                        <i class="fas fa-mobile-alt"></i> Mobile
                    </a>
                    <a href="./furnitureproducts" class="btn swiper-slide">
                        <i class="fas fa-couch"></i> Furniture
                    </a>
                    <a href="./groceriesproducts" class="btn swiper-slide">
                        <i class="fas fa-mortar-pestle"></i>
                        Groceries
                    </a>
                    <a href="./gameproducts" class="btn swiper-slide">
                        <i class="fab fa-playstation"></i> Games
                    </a>
                    <a href="./computerproducts" class="btn swiper-slide">
                        <i class="fas fa-laptop"></i> Computer
                    </a>
                </div>
            </div>

            <div class="search">
                <input class="search_input" id="searchInput" type="text" placeholder="Search for products">
                <i class="fas fa-search"></i>
            </div>
        </header>

        <div class="overlay"></div>

        <!-- ==================Bottom-header-End============== -->
        <main class="pages">
            <div class="page main">
                <div class="banner_container">
                    <div id="mySwiper" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="./productdetails" target="_blank"
                                    data-productid="<%= JSON.stringify(vivoZ6) %>">
                                    <img loading="lazy" decoding="async" src="../img/phoneBanner2.png" alt="banner-img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_furniture">
                                    <img loading="lazy" decoding="async" src="../img/furnitureBanner2.png"
                                        alt="banner_images">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_cloths">
                                    <img loading="lazy" decoding="async" src="../img/banner2.png" alt="banner-img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_electronic">
                                    <img loading="lazy" decoding="async" src="../img/electronicBanner.png"
                                        alt="banner-img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_toys">
                                    <img loading="lazy" decoding="async" src="../img/softToyBanner1.png"
                                        alt="banner-img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_games">
                                    <img loading="lazy" decoding="async" src="../img/GameBanner2.png" alt="banner-img">
                                </a>
                            </div>
                        </div>
                        <div id="Left" class="swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#fff">
                                <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                                <path
                                    d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z" />
                            </svg>
                        </div>
                        <div id="Right" class="swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#fff">
                                <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
                                <path
                                    d="M7.38 21.01c.49.49 1.28.49 1.77 0l8.31-8.31c.39-.39.39-1.02 0-1.41L9.15 2.98c-.49-.49-1.28-.49-1.77 0s-.49 1.28 0 1.77L14.62 12l-7.25 7.25c-.48.48-.48 1.28.01 1.76z" />
                            </svg>
                        </div>
                    </div>
                    <!-- ==============Mobile View============= -->
                    <div id="mySwiper2" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="./productdetails" target="_blank"
                                    data-productid="<%= JSON.stringify(vivoZ6) %>">
                                    <img loading="lazy" decoding="async" src="../img/mobilePhone.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_furniture">
                                    <img loading="lazy" decoding="async" src="../img/furnitureMobile.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_cloths">
                                    <img loading="lazy" decoding="async" src="../img/mobile_banner1.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_electronic">
                                    <img loading="lazy" decoding="async" src="../img/electronicMobile1.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" id="card_toys">
                                    <img loading="lazy" decoding="async" src="../img/mobileSoftToy1.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="#" id="card_games">
                                    <img loading="lazy" decoding="async" src="../img/mobileGame1.png"
                                        alt="mobile_view_img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ==============Advertisement=========== -->
                    <div class="banner_box">
                        <img src="../img/valhalla.png" alt="banner_box_img">
                        <video preload="auto" muted loop autoplay>
                            <source src="../video/valhalla.mp4" type="video/mp4">
                        </video>
                        <div class="box_content">
                            <h4>Games 2022</h4>
                            <p class="mb-0">Assassin's Creed Valhalla</p>
                        </div>
                    </div>
                </div>
                <!-- ===================Banner-Container-End================== -->
                <div class="section">
                    <div id="CardSwiper">
                        <div class="card_container">
                            <!-- Products Category -->
                            <% cate.forEach(function (ele) { %>
                                <div id="<%= ele.cards_id %>" class="card__">
                                    <div class="cards">
                                        <div class="card_content">
                                            <div class="image">
                                                <img src="<%= ele.image %>" loading="lazy" decoding="async"
                                                    alt="middle_img">
                                            </div>
                                            <div class="card_view">
                                                <div class="card_add_wrapp">
                                                    <span>
                                                        <i class="fas fa-chevron-right"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay_typed">
                                            <div class="card_name_with_overlay">
                                                <h4>
                                                    <%= ele.title %>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>

                <!-- ======================== CardSwiper End ================= -->

                <div id="banner__">
                    <a id="card_games" href="#">
                        <img class="deskTop" src="../img/Game_Add.png" alt="banner-img">
                        <img class="mobile" src="../img/Mobile_Game_Add.png" alt="banner-img">
                    </a>
                </div>

                <!-- =======================One Banner End==================== -->

                <div class="product_card">
                    <div id="card_section">
                        <div class="card_container">
                            <!-- Products Cards -->
                            <% if(mainpro) { %>
                                <% mainpro.forEach((ele)=> { %>
                                    <div id="<%= ele._id %>" class="cards <%= ele.category %>">
                                        <div class="card_head">
                                            <button role="button" data-wishlist="<%= JSON.stringify(ele) %>" id="far">
                                                <i class="far fa-heart"></i>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="four"></span>
                                            </button>
                                        </div>
                                        <div class="card_image">
                                            <img src="<%= ele.image %>" loading="lazy" decoding="async" alt="cards_img">
                                        </div>
                                        <div class="card_heading">
                                            <h5 class="mb-0">
                                                <%= ele.title %>
                                            </h5>
                                            <div class="card_price">
                                                <span>₹<%= new Intl.NumberFormat().format(ele.MRP) %></span>
                                                <span class="pro_price">₹<%= new Intl.NumberFormat().format(ele.price)
                                                        %>
                                                </span>
                                            </div>
                                            <div class="card_star">
                                                <i class="<%=
                                    ele.rating >= 1
                                    ? 'fas fa-star'
                                    : ele.rating >= 0.5
                                    ? 'fas fa-star-half-alt'
                                    : 'far fa-star'
                                %>
                                "></i>

                                                <i class="<%=
                                    ele.rating >= 2
                                    ? 'fas fa-star'
                                    : ele.rating >= 1.5
                                    ? 'fas fa-star-half-alt'
                                    : 'far fa-star'
                                %>
                                "></i>

                                                <i class="<%=
                                    ele.rating >= 3
                                    ? 'fas fa-star'
                                    : ele.rating >= 2.5
                                    ? 'fas fa-star-half-alt'
                                    : 'far fa-star'
                                %>
                                "></i>

                                                <i class="<%=
                                    ele.rating >= 4
                                    ? 'fas fa-star'
                                    : ele.rating >= 3.5
                                    ? 'fas fa-star-half-alt'
                                    : 'far fa-star'
                                %>
                                  "></i>

                                                <i class="<%=
                                    ele.rating >= 5
                                    ? 'fas fa-star'
                                    : ele.rating >= 4.5
                                    ? 'fas fa-star-half-alt'
                                    : 'far fa-star'
                                %>
                                "></i>
                                            </div>
                                        </div>
                                        <div class="addToCart">
                                            <div class="cards_addit">
                                                <a href="./productdetails" target="_blank">
                                                    <div data-productid="<%= JSON.stringify(ele) %>" class="card_add">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="card_pricing_btn">
                                            <button data-addtocart="<%= JSON.stringify(ele) %>" role="button"
                                                class="one_btn">
                                                <span>
                                                    <i class="fas fa-shopping-cart"></i> Add to Cart
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } %>
                                            <!-- =================== Products Cards End ======================== -->
                        </div>
                    </div>
                </div>

                <!-- ==================== card_section End =================== -->

                <div id="banner__">
                    <a href="#" id="card_cloths">
                        <img class="deskTop" src="../img/Fashion_Add.png" alt="banner-img">
                        <img class="mobile" src="../img/Mobile_Fashion_Add.png" alt="banner-img">
                    </a>
                </div>

                <!-- ====================Second Banner End==================== -->

                <div id="SeeMore">
                    <div class="buttons">
                        <button>See more
                            <i class="fas fa-chevron-down"></i>
                            <div class="loader"></div>
                        </button>
                    </div>
                </div>

                <!-- =======================See more End====================== -->
                <div id="product_json">
                    <div class="section">
                        <div id="CardSwiper">
                            <div class="card_container">
                                <!-- Products Category -->

                            </div>
                        </div>
                    </div>

                    <!-- ====================Fourth Catrgory End=================== -->

                    <div id="banner__">
                        <a href="#" id="card_toys">
                            <img class="deskTop" src="../img/Toys_Add.png" alt="banner-img">
                            <img class="mobile" src="../img/Mobile_Toys_Add.png" alt="banner-img">
                        </a>
                    </div>

                    <!-- ====================Second Banner End==================== -->

                    <div class="product_card">
                        <div id="card_section">
                            <div class="card_container">
                                <!-- Products Cards -->

                                <% if(seemoremainpro) { %>
                                    <% seemoremainpro.forEach((ele)=> { %>
                                        <div id="<%= ele._id %>" class="cards <%= ele.category %>">
                                            <div class="card_head">
                                                <button role="button" data-wishlist="<%= JSON.stringify(ele) %>"
                                                    id="far">
                                                    <i class="far fa-heart"></i>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span class="four"></span>
                                                </button>
                                            </div>
                                            <div class="card_image">
                                                <img src="<%= ele.image %>" loading="lazy" decoding="async"
                                                    alt="cards_img">
                                            </div>
                                            <div class="card_heading">
                                                <h5 class="mb-0">
                                                    <%= ele.title %>
                                                </h5>
                                                <div class="card_price">
                                                    <span>₹<%= new Intl.NumberFormat().format(ele.MRP) %></span>
                                                    <span class="pro_price">₹<%= new
                                                            Intl.NumberFormat().format(ele.price) %>
                                                    </span>
                                                </div>
                                                <div class="card_star">
                                                    <i class="<%=
                                        ele.rating >= 1
                                        ? 'fas fa-star'
                                        : ele.rating >= 0.5
                                        ? 'fas fa-star-half-alt'
                                        : 'far fa-star'
                                    %>
                                    "></i>

                                                    <i class="<%=
                                        ele.rating >= 2
                                        ? 'fas fa-star'
                                        : ele.rating >= 1.5
                                        ? 'fas fa-star-half-alt'
                                        : 'far fa-star'
                                    %>
                                    "></i>

                                                    <i class="<%=
                                        ele.rating >= 3
                                        ? 'fas fa-star'
                                        : ele.rating >= 2.5
                                        ? 'fas fa-star-half-alt'
                                        : 'far fa-star'
                                    %>
                                    "></i>

                                                    <i class="<%=
                                        ele.rating >= 4
                                        ? 'fas fa-star'
                                        : ele.rating >= 3.5
                                        ? 'fas fa-star-half-alt'
                                        : 'far fa-star'
                                    %>
                                      "></i>

                                                    <i class="<%=
                                        ele.rating >= 5
                                        ? 'fas fa-star'
                                        : ele.rating >= 4.5
                                        ? 'fas fa-star-half-alt'
                                        : 'far fa-star'
                                    %>
                                    "></i>
                                                </div>
                                            </div>
                                            <div class="addToCart">
                                                <div class="cards_addit">
                                                    <a href="./productdetails" target="_blank">
                                                        <div data-productid="<%= JSON.stringify(ele) %>"
                                                            class="card_add">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="card_pricing_btn">
                                                <button data-addtocart="<%= JSON.stringify(ele) %>" role="button"
                                                    class="one_btn">
                                                    <span>
                                                        <i class="fas fa-shopping-cart"></i> Add to Cart
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                                                <!-- =================== Products Cards End ======================== -->
                            </div>
                        </div>
                    </div>

                    <!-- =================== Products Cards End ======================== -->

                    <!-- ==================== card_section End =================== -->
                    <div id="banner__">
                        <a href="#" id="card_furniture">
                            <img class="deskTop" src="../img/Furniture_Add.png" alt="banner-img">
                            <img class="mobile" src="../img/Mobile_Furniture_Add.png" alt="banner-img">
                        </a>
                    </div>

                </div>
            </div>

            <div id="addToCartPopup">
                <div class="content">
                    <span>
                        <i class="fas fa-check"></i>
                        Successfull added to cart
                    </span>
                </div>
            </div>

        </main>


        <!-- ================================================= -->

        <%- include('./common/offers_containers'); %>

            <!-- ====================Upcoming Offers================== -->
</div>

<!-- ==========Container End======== -->

<div id="preloader">
    <div class="loading_container">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- =====================SideBar Sections================ -->
<div id="overlay"></div>

<div id="SideBar">
    <div class="sideBar_content">
        <div class="sidebar_Cross">
            <i style="color:#000;" class="fas fa-times"></i>
        </div>
        <div class="contents">
            <ul style="padding-left:0;">
                <h5 style="color:#000;">Deals of the Day</h5>
                <li><a id="scrollToSection" href="#card_section">Best Sellers</a></li>
                <li>
                    <a id="scrollToSection" href="#card_section">New Releases</a>
                </li>
                <li>
                    <a id="scrollToCategory" href="#CardSwiper">Categories to Bag</a>
                </li>
            </ul>
            <div id="hr"></div>
            <ul style="padding-left:0;">
                <h5 style="color:#000;">Digital Devices</h5>
                <li>
                    <a id="AddTVID" data-productid="<%= TV ? JSON.stringify(TV) : 'TV' %>" href="./productdetails"
                        target="_blank">
                        Fire TV<i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="./mobileproducts"> Mobiles <i class="fas fa-chevron-right"></i></a> </li>

                <!-- Laptops Collapse -->

                <li id="laptops">
                    <a id="laptopBtn" href="#">
                        Laptop <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul id="lapContent" class="lapContent" style="padding-left:0;">

                        <!-- Asus Laptops -->

                        <li>
                            <a id="asuslap" data-productid="<%= asuslap ? JSON.stringify(asuslap) : 'Asuslap' %>"
                                href="./productdetails" target="_blank" class="list">
                                ASUS Rog Laptop
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                        <!-- Dell Laptops -->

                        <li>
                            <a id="dellap" data-productid="<%= dellap ? JSON.stringify(dellap) : 'Dellap' %>"
                                href="./productdetails" target="_blank" class="list">
                                Dell Alienware
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- Laptops Collapse End -->
                <li><a href="./computerproducts">Computers Accessories <i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
            <div id="hr"></div>
            <ul style="padding-left:0;">
                <h5 style="color:#000;">Indian Wear</h5>
                <li> <a href="./clothproducts">Men's Fashion<i class="fas fa-chevron-right"></i></a></li>
                <li> <a href="./clothproducts">Women's Fashion <i class="fas fa-chevron-right"></i></a> </li>
                <li> <a href="./babyclothproducts">Kid's Fashion <i class="fas fa-chevron-right"></i></a> </li>
            </ul>
            <div id="hr"></div>
            <ul style="padding-left:0;">
                <h5 style="color:#000;">Help & Support</h5>
                <% if(user) { %>
                    <li> <a href="/userprofile">Your Account<i class="fas fa-chevron-right"></i></a> </li>
                    <% } else { %>
                        <li> <a href="/register">Your Account<i class="fas fa-chevron-right"></i></a>
                        </li>
                        <% } %>

                            <li> <a href="#">Customer Service<i class="fas fa-chevron-right"></i></a> </li>

                            <li> <a href="/contactus">Contact Us<i class="fas fa-chevron-right"></i></a> </li>

                            <% if(!user) { %>
                                <li><a href="/login">Sign In <i class="fas fa-chevron-right"></i></a></li>
                                <li><a href="/register">Sign Up <i class="fas fa-chevron-right"></i></a></li>
                                <% } %>

            </ul>
            <% if(admin==='admin' || admin==='super_admin' ) { %>
                <div id="hr"></div>
                <ul style="padding-left:0;">
                    <h5 style="color:#000;">Dashboard</h5>
                    <li> <a href="/api/adminPage/dashboard">Admin Dashboard<i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
                <% } %>

                    <% if(user) { %>
                        <div id="hr"></div>
                        <ul style="padding-left:0;">
                            <div class="buttons">
                                <form id="logoutBtn" action="/logout" method="POST">
                                    <button onclick="document.getElementById('logout')" type="submit">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Logout
                                    </button>
                                </form>
                            </div>
                        </ul>
                        <% } %>
                            <div class="space-30"></div>
        </div>
    </div>
</div>
<!-- ====================SideBar Sections End==================-->

<%- include('./common/footer'); %>


    <!-- ===================================================== -->
    <!-- ======================Script========================= -->

    <!-- =======================Swiper JS===================== -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="../JS/Home.js"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/Cart.js"></script>
    <script src="../JS/WishList.js"></script>

    <script>
        window.addEventListener('scroll', () => {
            if (window.scrollY >= 40) {
                document.querySelector('nav.navbar').style.boxShadow =
                    ' 0 3px 6px rgba(0, 0, 0, 0.3)';
                document.querySelector('nav.navbar').style.position =
                    'sticky';
                document.querySelector('nav.navbar').style.top =
                    '0';
            } else {
                document.querySelector('nav.navbar').style.boxShadow = 'none';
                document.querySelector('nav.navbar').style.position =
                    'none';
                document.querySelector('nav.navbar').style.top =
                    '0';
            }
        });
    </script>