<body>
    <div id="payment_page_container">
        <div class="payment_container">
            <div class="top_logo">
                <a href="/cartpage">
                    WB
                </a>
            </div>

            <div class="payment_wrapper">
                <div class="heading_pay">
                    <h1>Shipping to: <span>
                            <%= userData.name %>
                        </span> </h1>
                </div>
                <div class="payment_bottom">
                    <form action="/orders" method="POST" class="payment_content">
                        <div class="input_wrapper">
                            <div class="input_contents name_input">
                                <label>Your name</label>
                                <input disabled="disabled" id="payment_name" name="name" type="text"
                                    value="<%= userData.name %>" placeholder="Your Name">

                                <input id="payment_name" name="name" type="hidden" value="<%= userData.name %>"
                                    placeholder="Your Name">

                            </div>
                            <div class="input_contents number_input">
                                <label>Mobile number</label>
                                <input id="payment_number" maxlength="10" type="number" name="phone"
                                    value="<%= userData.phone ? userData.phone : '' %>" placeholder="Your Phone Number">
                                <span id="error">
                                    <%= messages.paymenterror %>
                                </span>
                            </div>
                        </div>
                        <div class="input_wrapper">
                            <div class="input_contents email_input">
                                <label>Email Address</label>
                                <input disabled="disabled" id="payment_email" type="email"
                                    value="<%= userData.email %>">
                            </div>
                            <div class="input_contents card_number_input">
                                <label>Address</label>
                                <input id="payment_address" type="address" name="address"
                                    value="<%= userData.address ? userData.address : '' %>" placeholder="Your Address">
                                <span id="error">
                                    <%= messages.paymenterror %>
                                </span>
                            </div>
                        </div>

                        <div class="input_wrapper">
                            <div class="input_contents email_input">
                                <label>Card number</label>
                                <input autocomplete="off" id="card_number" type="tel" maxlength="16"
                                    placeholder="xxxx xxxx xxxx 0000" name="cardnumber">
                                <span id="error">
                                    <% if(messages.paymenterror){ %>
                                        <%= messages.paymenterror %>
                                            <% }else if(messages.cardnumber) { %>
                                                <%= messages.cardnumber %>

                                                    <% } %>
                                </span>
                            </div>
                            <div class="input_contents card_number_input">
                                <div class="input_contents email_input">
                                    <label>Expiration Date</label>
                                    <input autocomplete="off" id="payment_expire" type="tel" maxlength="5"
                                        placeholder="04/28" name="cardexpdate">
                                    <span id="error">
                                        <!-- !Your Expiration Number invalid -->
                                        <%= messages.paymenterror %>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="input_wrapper">
                            <div class="input_contents card_number_input">
                                <label>CVV</label>
                                <input autocomplete="off" id="payment_cvv" type="tel" maxlength="3" placeholder="123"
                                    name="cardcvv">
                                <span id="error">
                                    <!-- !Your CVV invalid -->
                                    <%= messages.paymenterror %>
                                </span>
                            </div>
                        </div>

                        <div class="hr-2"></div>

                        <div class="bottom_payment_wrapper">
                            <div class="bottom_checkout">
                                <h2>Total Amount : <span id="price_order">
                                        ₹ <%= new Intl.NumberFormat().format( cart.totalPrice ) %>
                                    </span></h2>

                                <a href="/cartpage">
                                    <span>
                                        Cancel process
                                    </span>
                                </a>
                            </div>
                            <div class="payment_button">
                                <button type="submit" id="payment_Btn">Place Your
                                    order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ====================Success Popup==================== -->


        <!-- <div class="popup_container">
                    <div class="popup active center">
                        <div class="icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="title">
                            Order Successfull!!
                        </div>

                        <div class="description">
                            <p>
                                Your order was place you will redirect to AmazonClone.com
                            </p>
                        </div>

                        <div class="dismiss-btn">
                            <button class="dismiss">
                                Done
                            </button>
                        </div>
                    </div>
                </div> -->

    </div>

    <div id="overlays_payment"></div>

    <!-- ===================================================== -->
    <!-- ======================Script========================= -->
    <!-- =======================Main CDN====================== -->

    <script src="../JS/Cart.js"></script>
    <script src="../JS/PaymentOrders.js"></script>


</body>

</html>